<div class="home-page callout">
  <div class="welcome">
    <h1>Welcome to Cart Curator</h1>

    <div class="links">
      <h2 class="link log"><%= link_to 'Log in', new_user_session_path %></h2>
      <h2 class="link new"><%= link_to 'Sign up', new_user_registration_path %></h2>
    </div>

    <div class="check">
      <i class="fa fa-check-square fa-2x"></i>
      <h3>Create your account</h3>
    </div>

    <div class="check">
      <i class="fa fa-check-square fa-2x"></i>
      <h3>Save and manage your grocery lists</h3>
    </div>

    <div class="check">
      <i class="fa fa-check-square fa-2x"></i>
      <h3>Accessible on desktop and mobile browsers</h3>
    </div>

    <h2 class="more">Scroll down to learn more!</h2>

  </div>
</div>

<div class="info callout">
  <h1>Let's make grocery shopping easier</h1>

  <div class="details">
    <i class="fa fa-envelope-open fa-3x"></i>
    <h3>Sign up is easy, log in with your email</h3>
  </div>

  <div class="details right">
    <h3>Create a list for each store you shop at</h3>
    <i class="fa fa-bars fa-3x"></i>
  </div>

  <div class="details">
    <i class="fa fa-plus fa-3x"></i>
    <h3>Add items - inlcude category, quantity, measurement, and aisle</h3>
  </div>

  <div class="details right">
    <h3>View your list and get shopping!</h3>
    <i class="fa fa-shopping-cart fa-3x"></i>
  </div>
</div>

<div class="info callout">
  <div class="about">
    <h1>What makes Cart Curator different</h1>

    <h4>We believe in making weekly errands as quick as possible so we can get back to the things we love</h4>
    <h4>And also recognize how important it is to be mindful about what we put in our cart, and on our plates</h4>
  </div>

  <div class="about-info left">
    <h3>Cart Curator items are organized by category, selected from our drop-down menu</h3>
    <div class="callout">
      <%= image_tag("about-categories.png", :alt => "About Categories") %>
    </div>
  </div>

  <div class="about-info right">
    <div class="callout">
      <%= image_tag("about-pie-chart.png", :alt => "About Pie Chart") %>
    </div>
    <h3>Total visualization of the types of items you want to purchase</h3>
  </div>

  <div class="about-info left">
    <h3>Shopping view sorts all items based on aisle location to optimize the trip to the grocery store - check off items as you shop!</h3>
    <div class="callout">
      <%= image_tag("about-shopping.png", :alt => "About Shopping") %>
    </div>
  </div>
</div>
