<!DOCTYPE html>
<html>
<head>
  <title>Cart Curator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><%= link_to image_tag("logo.png", :alt => "Cart Curator"), root_path %></li>
      </ul>
    </div>

    <div class="top-bar-right">
      <%- if current_user -%>
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to 'My Lists', lists_path %></li>
          <li>
            <a>Hi, <%= current_user.first_name %></a>
            <ul class="links menu vertical">
              <li><%= link_to 'Edit your account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
        <%- else -%>
        <ul class="links menu">
          <li class="log"><%= link_to 'Log in', new_user_session_path %></li>
          <li class="new"><%= link_to 'Sign up', new_user_registration_path %></li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>    
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>

<footer>

</footer>

</html>
